.carousel {
  margin: 0 auto;
  width: $large-carousel-width;
}

.carousel-slides {
  height: $large-carousel-height;
  position: relative;
  width: 100%;
}

.carousel-slider {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
}

.carousel-slide {
  background: $custom-orange;
  height: $large-carousel-height;
  margin: 0 1px;
  width: $large-carousel-width;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: $medium-space;
}

.carousel-dot-indicators {
  display: flex;
}

.carousel-dot-indicator {
  background-color: $custom-navy;
  border-radius: 50%;
  height: $small-space;
  margin: 0 $tiny-space;
  width: $small-space;
}
