// color variables

$custom-navy: #012840;
$custom-orange: #f28705;

// --------------------------

// spacer variables

$tiny-space: 9px;
$small-space: 18px;
$medium-space: 36px;

// --------------------------

// carousel width variables

$large-carousel-width: 1000px;
$large-carousel-height: 500px;

// --------------------------
