// color variables

$custom-navy: #012840;
$custom-navy-secondary: #0481cf;
$custom-orange: #f28705;

// --------------------------

// spacer variables

$tiny-space: 9px;
$small-space: 18px;
$medium-space: 36px;
$large-space: 72px;

// --------------------------

// carousel width variables

$large-carousel-width: 1000px;
$large-carousel-height: 500px;
$medium-carousel-width: 800px;
$medium-carousel-height: 400px;
$small-carousel-width: 500px;
$small-carousel-height: 250px;
$mobile-carousel-width: 300px;
$mobile-carousel-height: 150px;

// --------------------------

// breakpoint variables

$medium-breakpoint: 1366px;
$small-breakpoint: 1024px;
$mobile-breakpoint: 767px;

// --------------------------
